* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-image: url(./Img/title-back.jpg);
  padding: 21vw 5rem;
  background-position: center;
  background-size: cover;
}

.title {
  position: relative;
  border-radius: 5px;
  max-width: 100%;
  background-color: white;
  padding: 1rem;
}

.title h1 {
  text-decoration: line-through;
  font-size: 50px;
  color: #163561;
}

.title h2 {
  font-size: 30px;
}

.introduction {
  background-color: #6385dc;
  padding: 21vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.introduction h2 {
  font-size: 30px;
}

.introduction p {
  font-size: 25px;
}

.chart-container {
  background-image: url(./Img/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 11vw;
}

.chart-text {
  max-width: 20rem;
  font-size: 18px;
}

.chart-text p {
  margin: 2rem 0rem;
  background-color: rgba(255, 255, 255);
  padding: 1rem;
  border-radius: 5px;
  border: solid;
  border-color: oldlace;
}

.chart {
  padding: 1rem;
  background-color: rgba(255, 255, 255);
  flex-basis: 100%;
  border-radius: 5px;
  border: solid;
  border-color: oldlace;
}

.fact-1 {
  background-color: #ef7d28;
  padding: 16vw;
}

.fact-1 h3 {
  font-size: 80px;
}

.map-container {
  background-position: center;
  background-size: cover;
}

.percent-facts {
  padding-top: 10vw;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 25px;
}

.percent-facts a {
  text-decoration: none;
  color: #ef7d28;
}
.map-text {
  padding-top: 2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 25px;
}

.map {
  justify-content: center;
  display: flex;
  padding-bottom: 11vw;
}

.risks-title {
  text-align: center;
  padding: 25vw;
  background-color: #6385dc;
  font-size: 100px;
}

.risks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20vw 5rem;
  gap: 3rem;
  justify-content: center;
}

.risks p {
  padding: 2rem;
  max-width: 25vw;
  font-size: 20px;
  background-color: #c6ccdd;
  border-radius: 10px;
}

.help-title {
  text-align: center;
  padding: 25vw;
  background-color: #ef7d28;
  font-size: 100px;
}

.help {
  background-image: url(./Img/list-background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20vw 5rem;
  gap: 20rem;
  justify-content: center;
}

.help p {
  padding: 2rem;
  max-width: 25vw;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  min-width: 25vw;
  min-height: 10vw;
  text-align: center;
  margin: 5rem;
}

.help a {
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6385dc;
  gap: 1rem;
  padding: 1rem;
}

footer a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 21vw 5rem;
  }

  .title {
    padding: 1rem;
  }

  .title h1 {
    text-decoration: line-through;
    font-size: 50px;
    color: #163561;
  }

  .title h2 {
    font-size: 30px;
  }
  .chart-container {
    flex-direction: column;
  }

  .fact-1 h3 {
    font-size: 50px;
  }

  .map-container {
    background-position: center;
    background-size: cover;
  }

  .percent-facts {
    padding-top: 10vw;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 25px;
  }

  .percent-facts a {
    text-decoration: none;
    color: #ef7d28;
  }
  .map-text {
    padding-top: 2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 25px;
  }

  .map {
    justify-content: center;
    display: flex;
    padding-bottom: 11vw;
  }

  .risks-title {
    padding: 25vw 2rem;
    font-size: 50px;
  }

  .risks {
    flex-direction: column;
    padding: 20vw 1rem;
  }

  .risks p {
    max-width: 100%;
  }

  .help-title {
    padding: 25vw 2rem;
    background-color: #ef7d28;
    font-size: 50px;
  }

  .help {
    padding: 20vw 1rem;
    gap: 20rem;
    justify-content: center;
  }

  .help p {
    max-width: 100%;
    margin: 2rem;
  }

  .help a {
    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6385dc;
    gap: 1rem;
    padding: 1rem;
  }

  footer a {
    color: black;
    text-decoration: none;
  }
}
